body {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 29px;
  height: 100vh;
  background: transparent url("/Tomorrowland-Syd-Mead_990x533.jpg") repeat
    scroll center top/cover;
}

.bookshelf-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  perspective: 1200px;
}
